In [2]:
import pandas as pd
import numpy as np

In [59]:
basePath = "./dados/IBOVESPA/"
filename = "BVSP_YAHOO.csv"

In [60]:
data = pd.read_csv(basePath + filename)
df = pd.DataFrame(data)
df.head()

         Date     Open     High      Low    Close  Adj Close     Volume
0  2009-01-02  37550.0  40265.0  37550.0  40244.0    40244.0  1055200.0
1  2009-01-05  40243.0  41889.0  39526.0  41519.0    41519.0  1909200.0
2  2009-01-06  41520.0  42363.0  41520.0  42312.0    42312.0  1791000.0
3  2009-01-07  42308.0  42308.0  40563.0  40820.0    40820.0  1383600.0
4  2009-01-08  40819.0  41991.0  40251.0  41991.0    41991.0  1556000.0

In [57]:
def dateFormat(date):
    date_split = date.split("-")
    return "/".join(date_split)

def getMeanValues(df_values):
    values = []
    for row in df_values:
        values.append(row.mean())
    return values

In [61]:
new_df = pd.DataFrame()
new_df["DATA"] = df["Date"].apply(lambda x: dateFormat(x))
new_df["BVSP"] = getMeanValues(df[["Open", "High", "Low", "Close"]].values)
new_df.to_csv(basePath + "BVSP_DATA.csv", sep=",", index=False)