In [3]:
# imports de bibliotecas
import pandas as pd
import numpy as np

In [4]:
# Definiçao de caminhos e arquivos
basePath = "./dados/DOLAR/"
filename = "dolar.csv"

In [25]:
# Leitura do dataset baixado do site Yahoo Finanças
data = pd.read_csv(basePath + filename)
df = pd.DataFrame(data)
df.head()

         DATA  DOLAR_REAL
0  02/01/2009        2.33
1  05/01/2009        2.26
2  06/01/2009        2.18
3  07/01/2009        2.25
4  08/01/2009        2.30

In [17]:
def dateFormat(date):
    date_split = date.split("/")
    return "/".join(date_split[::-1])

In [26]:
new_df = pd.DataFrame()
new_df["DATA"] = df["DATA"].apply(lambda x: dateFormat(x))
new_df["DOLAR_RS"] = df["DOLAR_REAL"].astype(float)
new_df.to_csv(basePath + "DOLAR_DATA.csv", sep=",", index=False)