In [2]:
import pandas as pd
import numpy as np

In [3]:
basePath = "./dados/PETR3/"
filename = "PETR3.SA.csv"

In [5]:
data = pd.read_csv(basePath + filename)
df = pd.DataFrame(data)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-01-02,27.799999,30.080000,27.799999,29.860001,27.031439,3993700.0
1,2009-01-05,29.600000,31.059999,29.160000,30.520000,27.628916,3936200.0
2,2009-01-06,30.900000,31.580000,30.340000,31.020000,28.081553,3186900.0
3,2009-01-07,30.209999,30.450001,29.000000,29.400000,26.615011,3198500.0
4,2009-01-08,29.389999,30.950001,28.799999,30.950001,28.018185,2976900.0

In [7]:
def dateFormat(date):
    date_split = date.split("-")
    return "/".join(date_split)

def getMeanValues(df_values):
    values = []
    for row in df_values:
        values.append(row.mean())
    return values

In [9]:
new_df = pd.DataFrame()
new_df["DATA"] = df["Date"].apply(lambda x: dateFormat(x))
new_df["PETR3"] = getMeanValues(df[["Open", "High", "Low", "Close"]].values)
new_df.to_csv(basePath + "PETR3_DATA.csv", sep=",", index=False)