In [2]:
import pandas as pd
import numpy as np

In [4]:
basePath = "./dados/CLIMA/"
filename = "NASA_CLIMA.csv"

In [6]:
data = pd.read_csv(basePath + filename)
df = pd.DataFrame(data)
df.head()

,LAT,LONG,ANO,MES,DIA,PRECIPITACAO,PRESSAO_ATM,UMIDADE,TEMPERATURA,VEL_VENTO,RADIACAO_SOLAR
0,-23.56549,-46.65789,2009,1,1,9.93,94.24,80.63,24.04,1.78,9.84
1,-23.56549,-46.65789,2009,1,2,13.46,94.04,89.95,21.99,1.97,9.97
2,-23.56549,-46.65789,2009,1,3,9.05,93.58,86.55,22.50,5.18,9.90
3,-23.56549,-46.65789,2009,1,4,9.26,94.06,84.82,18.53,5.65,9.25
4,-23.56549,-46.65789,2009,1,5,5.03,94.36,84.39,18.51,5.22,9.30

In [95]:
def dateFormat(args):
    return "%i/%02i/%02i" % (args[0], args[1], args[2])

In [98]:
new_df = pd.DataFrame()
new_df["DATA"] = df[["ANO", "MES", "DIA"]].apply(dateFormat, axis=1)
new_df["PRECIPITACAO"] = df["PRECIPITACAO"]
new_df["PRESSAO_ATM"] = df["PRESSAO_ATM"]
new_df["UMIDADE"] = df["UMIDADE"]
new_df["TEMPERATURA"] = df["TEMPERATURA"]
new_df["VEL_VENTO"] = df["VEL_VENTO"]
new_df["RADIACAO_SOLAR"] = df["RADIACAO_SOLAR"]
new_df.to_csv(basePath + "CLIMA_DATA.csv", sep=",", index=False)