In [2]:
# imports de bibliotecas
import pandas as pd
import numpy as np

In [4]:
# Definiçao de caminhos e arquivos
basePath = "./dados/DOLAR/"
filename = "USD_BRL.csv"

In [41]:
# Leitura do arquivo baixado do Yahoo Finanças
data = pd.read_csv(basePath + filename)
df = pd.DataFrame(data)
df.head(12)

      Data  Último Abertura  Máxima  Mínima    Var%
0   Dez 18  3,8813   3,8670  3,9461  3,8154   0,37%
1   Nov 18  3,8669   3,7226  3,9447  3,6794   3,89%
2   Out 18  3,7220   4,0497  4,0630  3,5813  -8,08%
3   Set 18  4,0491   4,0929  4,2117  3,9676  -0,16%
4   Ago 18  4,0556   3,7569  4,2159  3,6907   7,97%
5   Jul 18  3,7563   3,8784  3,9531  3,6883  -3,12%
6   Jun 18  3,8771   3,7253  3,9677  3,6680   4,13%
7   Mai 18  3,7235   3,5080  3,7773  3,5079   6,17%
8   Abr 18  3,5072   3,3051  3,5160  3,2959   6,11%
9   Mar 18  3,3051   3,2463  3,3464  3,2055   1,81%
10  Fev 18  3,2462   3,1857  3,3188  3,1616   1,89%
11  Jan 18  3,1859   3,3134  3,3134  3,1195  -3,82%

In [46]:
# Funçao para converter strings para float
def convertToFloat(value):
    replaced = value.replace(",", ".")
    return float(replaced)

# Funçao para obter a media dos campos de interesse
def getMeanValues(df_values):
    values = []
    for row in df_values:
        values.append(row.mean())
    return values

# Funçao que trata a data do registro para o formato Ano/Mes
meses = {"Dez":"12", "Nov":"11", "Out":"10", "Set":"09","Ago":"08", "Jul":"07", 
         "Jun":"06", "Mai":"05", "Abr":"04", "Mar":"03", "Fev":"02", "Jan":"01"}
def getFormatDate(date):
    splited = date.split(" ")
    ano = "20" + str(splited[1])
    return ano + "/" + meses[splited[0]]

In [51]:
# Conversao dos dados para float
new_df = pd.DataFrame()
new_df["Último"] = df["Último"].apply(convertToFloat)
new_df["Abertura"] = df["Abertura"].apply(convertToFloat)
new_df["Máxima"] = df["Máxima"].apply(convertToFloat)
new_df["Mínima"] = df["Mínima"].apply(convertToFloat)

# Uniao dos valores por meio de média aritimetica
final_df = pd.DataFrame()
final_df["DATA"] = df["Data"].apply(getFormatDate)
final_df["DOLAR"] = getMeanValues(new_df[["Último", "Abertura", "Máxima", "Mínima"]].values)
final_df = final_df[::-1]

# Salva arquivo CSV dos dados tratados
final_df.to_csv(basePath + "DOLAR_DATA.csv", sep=",", index=False)